body{
    font-family: 'Nanum Gothic', sans-serif;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container ul{
    display: flex;
    flex-direction: row;
}
.textTitle{
    border: gray;
    border-bottom: 0.5px solid gray;
    width: 85vmin;
    height: 40px;
    font-size: large;
}
.textName{
    border: gray;
    border-bottom: 0.5px solid gray;
    width: 28vmin;
    height: 40px;
    font-size: large;
    margin-left: 20px;
}
.textMain{
    font-family: 'Nanum Gothic', sans-serif;
    border-radius: 0px;
    width: 118vmin;
    height: 50vmin;
    font-size: large;
    overflow: scroll;
}
.writePost{
    font-size: large;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(245, 192, 94);
}