.lastPage{
    margin: 0;
    width: 70%;
    vertical-align: middle;
    position: absolute;
}
.lastSentence{
    text-align: left;
    position: absolute;
    left: 35vw;
    transform:translate( -50%, 60%);
    font-size: 1.2vmax;
}
@media screen and (max-width:700px) {
        .lastSentence{
        text-align: left;
        position: absolute;
        left: 40vw;
        transform:translate( -50%, 60%);
        font-size: 1.2vmax;
    }
}
.lastPage img{
    display: block;
}      