{% extends 'base.html' %}
{% load static %}    
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/detail.css'%}">
    </head>
    <body>
            <div class="container">
                <div class="postBody">
                    <table>
                        <thead>
                            <td colspan="2">
                                <h2>{{ crud.title }}</h2>
                            </td>
                        </thead>
                        <tbody>
                            <td>
                                <p><b>작성 날짜 : </b>{{ crud.pub_date }}</p>
                            </td>
                            <td>
                                <p><b>작성자 :</b> {{ crud.name }}</p>
                            </td>
                        </tbody>
                        <tfoot>
                            <tr colspan="2">
                                <td><p>{{ crud.body }}</p></td>
                            </tr> 
                        </tfoot>
                    </table>
                </div>
                <div class="btnList">
                    <ul >
                        <li>
                            <div class="freeBack">
                                <p><a href="{% url 'free' %}">돌아가기</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="freeDelete">
                                <p><a href = "{% url 'delete' crud.id %}">삭제하기</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="freeEdit">
                                <p><a href = "{% url 'edit' crud.id %}">수정하기</a></p>
                            </div>
                        </li>
                    </ul>
                </div>  
            </div>
            <div class="container">
                <form method="POST" action="{% url 'crudComment' %}">
                    {% csrf_token %}
                    <textarea name="body" placeholder="댓글을 입력하세요." rows="3" cols="80"></textarea>
                    <input type="hidden" name="name" value="{{ request.session.name }}">
                    <input type="hidden" name="crud_id" value="{{ crud.id }}">
                    <input type="submit" value="입력">
                </form>
            
                {% for comment in comments %}
                    <p><b>{{ comment.name }}</b> - <tt>{{ comment.pub_date }}</tt></p>
                    <p>{{ comment.body }}</p><br>
                {% endfor %}
            </div>           
    </body>
{% endblock %}  