{% extends 'base.html' %}
{% load static %}    
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/detail.css'%}">
    </head>
    <body>
            <div class="containter">
                <table>
                    <thead>
                        <td colspan="2">
                            <h2>{{ crud.title }}</h2>
                        </td>
                    </thead>
                    <tbody>
                        <td>
                            <p>{{ crud.pub_date }}</p>
                        </td>
                        <td>
                            <p>작성자 : {{ crud.name }}</p>
                        </td>
                    </tbody>
                    <tfoot>
                        <tr colspan="2">
                            <td><p>{{ crud.body }}</p></td>
                        </tr> 
                    </tfoot>
                </table>
                <div>
                    <ul>
                        <li><a href="{% url 'free' %}">돌아가기</a></li>
                        <li>
                            <div class="freeDelete">
                                <p><a href = "{% url 'delete' crud.id %}">삭제</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="freeEdit">
                                <p><a href = "{% url 'edit' crud.id %}">수정하기</a></p>
                            </div>
                        </li>
                    </ul>
                </div>  
            </div>
        <footer>
            <div class = "lastPageWrap">
                <div class ="lastPage">
                    <img src="{% static 'img/4.png' %}" alt="" loading="lazy">
                </div>
                <div class ="lastSentence">
                    <p>
                        우)대구광역시 달서구 달구벌대로 1095 계명대학교 성서캠퍼스
                    </p>
                    <p>
                        INSTAGRAM : kmu_likelion
                    </p>
                    <p>
                        EMAIL : qq212420@gmail.com
                    </p>
                    <br>
                    <p>
                        COPYRIGHT 2021 KEIMYUNG UNIVERSITY LIKELION
                    </p>
                    <p>
                        ALL RIGHTS RESERVED
                    </p>
                </div>
            </div>    
        </footer>           
    </body>
{% endblock %}  