{% extends 'base.html' %}
{% load static %}    
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/detail.css'%}">
    </head>
    <body>
            <div class="container">
                <div class="postBody">
                    <table>
                        <thead>
                            <td colspan="2">
                                <h2>{{ crud.title }}</h2>
                            </td>
                        </thead>
                        <tbody>
                            <td>
                                <p><b>작성 날짜 : </b>{{ crud.pub_date }}</p>
                            </td>
                            <td>
                                <p><b>작성자 :</b> {{ crud.profile_id.name }}({{ crud.profile_id.term }}기)</p>
                            </td>
                        </tbody>
                        <tfoot>
                            <tr colspan="2">
                                <td><p style="width: 118vmin;">{{ crud.body }}</p></td>
                            </tr> 
                        </tfoot>
                    </table>
                </div>
                <div class="btnList">
                    <ul >
                        <li>
                            <div class="freeBack">
                                <p><a href="{% url 'free' %}">돌아가기</a></p>
                            </div>
                        </li>
                        {% if request.session.user_id == crud.profile_id.user_id %}
                        <li>
                            <div class="freeDelete">
                                <p><a href = "{% url 'delete' crud.id %}">삭제하기</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="freeEdit">
                                <p><a href = "{% url 'edit' crud.id %}">수정하기</a></p>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>



                <div class="comment_container">
                    {% if request.session.name %}
                    <div class="comment_form_area">
                        <form class="comment_form" method="POST" action="{% url 'crudComment' %}">
                            {% csrf_token %}
                            <textarea name="body" placeholder="댓글을 입력하세요." rows="3" cols="80"></textarea>
                            <input type="hidden" name="profile_id" value="{{ request.session.profile_id }}">
                            <input type="hidden" name="crud_id" value="{{ crud.id }}">
                            <input type="hidden" name="method" value="POST">
                            <input type="submit" id="comment_submit" value="입력">
                        </form>
                    </div>
                    {% endif %}

                    <ul class="comment_list">
                        {% for comment in comments %}
                        <li>
                            <div class="comment_area">
                                <p style="display:inline;"><b>{{ comment.profile_id.name }}</b> - <tt>{{ comment.pub_date }}</tt></p>
                                <!----------- 작성자의 댓글은 수정, 삭제 버튼이 보이도록 구현 ---------->
                                {% if request.session.user_id == comment.profile_id.user_id %}
                                <form method="POST" action="{% url 'crudComment' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <input type="hidden" name="method" value="_PUT">
                                    <input type="submit" value="수정">
                                </form>
        
                                <form method="POST" action="{% url 'crudComment' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <input type="hidden" name="crud_id" value="{{ crud.id }}">
                                    <input type="hidden" name="method" value="DELETE">
                                    <input type="submit" value="삭제">
                                </form>
                                {% endif %}
                                <!--------------------------------------------------------------------->                 
                                <p>{{ comment.body }}</p><br>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                
                    <!-- {% for comment in comments %}
                    <div class="comment_body">
                        <p style="display:inline;"><b>{{ comment.profile_id.name }}</b> - <tt>{{ comment.pub_date }}</tt></p>
                        ----------- 작성자의 댓글은 수정, 삭제 버튼이 보이도록 구현 ---------
                        {% if request.session.user_id == comment.profile_id.user_id %}
                            <form method="POST" action="{% url 'crudComment' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="hidden" name="method" value="_PUT">
                                <input type="submit" value="수정">
                            </form>
    
                            <form method="POST" action="{% url 'crudComment' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="hidden" name="crud_id" value="{{ crud.id }}">
                                <input type="hidden" name="method" value="DELETE">
                                <input type="submit" value="삭제">
                            </form>
                        {% endif %}
                        --------------------------------------------------------------------                 
                        <p>{{ comment.body }}</p><br>
                    </div>
                    {% endfor %} -->
                </div>
            </div>
                       
    </body>
{% endblock %}  