{% extends 'base.html' %}
{% load static %}
{% block content %}

    <table class="tableContainer">
        <thead>
            <td>#</td><td>title</td><td>작성자</td>
        </thead>
        {% for crud in cruds.all %}
        <tbody>
            <td>{{ crud.id }}</td>
            <td>
                <div class="container">
                    <a href="{% url 'detail' crud.id %}"><h2>{{ crud.title }}</h2></a>
                </div>
            </td>
            <td>
                <div class="container">
                    <a href="{% url 'detail' crud.id %}"><h2>{{ crud.name }}</h2></a>
                </div>
            </td>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan="3" textalign="center">
                    <div><a href="{% url 'new' %}">글쓰기</a></div>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %} 
    