{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/infoList.css' %}">
    </head>
    <body>
        <div class="tableBody" style="background-color: white;" >
            <table class="tableContainer" >
                <thead>
                    <td><h2>#</h2></td>
                    <td style="width: 70%;"><h2>title</h2></td>
                    <td><h2>작성자</h2></td>
                </thead>
                {% for info in infos.all %}
                <tbody>
                    <td style="text-align: center;">{{ info.id }}</td>
                    <td>
                        <div class="container">
                            <a href="{% url 'infoDetail' info.id %}"><h4 style="padding-left: 10px;">{{ info.title }}</h4></a>
                        </div>
                    </td>
                    <td  style="text-align: center;">
                        <div class="container">
                            <a href="{% url 'infoDetail' info.id %}"><h4>{{ info.name }}</h4></a>
                        </div>
                    </td>
                </tbody>
                {% endfor %}
                <tfoot>
                    <td colspan="3">
                        <div class="writePost" >
                            <a href="{% url 'infoNew' %}">글쓰기</a>
                        </div>
                    </td>
                </tfoot>
            </table>
        </div>
    </body>
    
{% endblock %} 
    