{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/infoDetail.css' %}">
</head>
<body>
    <div class="containter">
        <div class="postBody">
            <table>
                <thead>
                    <td colspan="2">
                        <h2>{{ info.title }}</h2>
                    </td>
                </thead>
                <tbody>
                    <td>
                        <p><b>작성 날짜 : </b>{{ info.pub_date }}</p>
                    </td>
                    <td>
                        <p><b>작성자 :</b> {{ info.name }}</p>
                    </td>
                </tbody>
                <tfoot >
                    <tr colspan="2">
                        <td><p p style="width: 118vmin;">{{ info.body }}</p></td>
                    </tr> 
                </tfoot>
            </table>
        </div>   
        <div class="btnList">
            <ul>
                <li>
                    <div class="freeBack">
                        <p><a href="{% url 'infoList' %}">돌아가기</a></p>
                    </div>
                </li>
                {% if request.session.name == info.name %}
                <li>
                    <div class="freeDelete">
                        <p><a href = "{% url 'infoDelete' info.id %}">삭제</a></p>
                    </div>
                </li>
                <li>
                    <div class="freeEdit">
                        <p><a href = "{% url 'infoEdit' info.id %}">수정하기</a></p>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>  
    </div>
    <div class="container">
        {% if request.session.name %}
        <form method="POST" action="{% url 'infoComment' %}">
            {% csrf_token %}
            <textarea name="body" placeholder="댓글을 입력하세요." rows="3" cols="80"></textarea>
            <input type="hidden" name="name" value="{{ request.session.name }}">
            <input type="hidden" name="info_id" value="{{ info.id }}">
            <input type="submit" value="입력">
        </form>
        {% endif %}
    
        {% for comment in comments %}
            <p><b>{{ comment.name }}</b> - <tt>{{ comment.pub_date }}</tt></p>
            <p>{{ comment.body }}</p><br>
        {% endfor %}
    </div>
</body>
    
{% endblock %}