{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="container">
        <form action="{% url 'create' %}">
        <h4>제목: </h4>
        <input type="text" name="title">
        <h4>작성자: </h4>
        <input type="text" name="name">
        <br>
        <br>
        <h4>본문: </h4>
        <textarea cols=40 rows=10 name="body"></textarea>
        <br>
        <br>
        <input class="btn btn-dark" type="submit" value="제출하기">
    </form>
    </div>
    <footer>
        <div class = "lastPageWrap">
            <div class ="lastPage">
                <img src="{% static 'img/4.png' %}" alt="" loading="lazy">
            </div>
            <div class ="lastSentence">
                <p>
                    우)대구광역시 달서구 달구벌대로 1095 계명대학교 성서캠퍼스
                </p>
                <p>
                    INSTAGRAM : kmu_likelion
                </p>
                <p>
                    EMAIL : qq212420@gmail.com
                </p>
                <br>
                <p>
                    COPYRIGHT 2021 KEIMYUNG UNIVERSITY LIKELION
                </p>
                <p>
                    ALL RIGHTS RESERVED
                </p>
            </div>
        </div>    
    </footer>  
{% endblock %}