{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/qnaDetail.css'%}">
</head>  
<body>
    <div class="container">
        <div class="postBody">
            <table>
                <thead>
                    <td colspan="2">
                        <h2>{{ qna.title }}</h2>
                    </td>
                </thead>
                <tbody>
                    <td>
                        <p><b>작성 날짜 : </b>{{ qna.pub_date }}</p>
                    </td>
                    <td>
                        <p><b>작성자 :</b> {{ qna.profile_id.name }}</p>
                    </td>
                </tbody>
                <tfoot>
                    <tr colspan="2">
                        <td><pp style="width: 118vmin;">{{ qna.body }}</p></td>
                    </tr> 
                </tfoot>
            </table>
        </div>
        <div class="btnList">
            <ul >
                <li>
                    <div class="freeBack">
                        <p><a href="{% url 'qnaList' %}">돌아가기</a></p>
                    </div>
                </li>
                {% if request.session.user_id == qna.profile_id.user_id %}
                <li>
                    <div class="freeDelete">
                        <p><a href = "{% url 'qnaDelete' qna.id %}">삭제하기</a></p>
                    </div>
                </li>
                <li>
                    <div class="freeEdit">
                        <p><a href = "{% url 'qnaEdit' qna.id %}">수정하기</a></p>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>  
    </div>

    <div class="container">
        {% if request.session.name %}
        <form method="POST" action="{% url 'qnaComment' %}">
            {% csrf_token %}
            <textarea name="body" placeholder="댓글을 입력하세요." rows="3" cols="80"></textarea>
            <input type="hidden" name="profile_id" value="{{ request.session.profile_id }}">
            <input type="hidden" name="qna_id" value="{{ qna.id }}">
            <input type="submit" value="입력">
        </form>
        {% endif %}
    
        {% for comment in comments %}
            <p><b>{{ comment.profile_id.name }}</b> - <tt>{{ comment.pub_date }}</tt></p>
            <p>{{ comment.body }}</p><br>
        {% endfor %}
    </div>
</body>

{% endblock %}