{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/qnaList.css' %}">
</head>
<body>

</body>
    <table class="tableContainer">
        <thead>
            <td><h2>#</h2></td>
            <td style="width: 70%;"><h2>title</h2></td>
            <td><h2>작성자</h2></td>
        </thead>
        {% for qna in qnas.all %}
        <tbody>
            <td>{{ qna.id }}</td>
            <td>
                <div class="container">
                    <a href="{% url 'qnaDetail' qna.id %}"><h4>{{ qna.title }}</h4></a>
                </div>
            </td>
            <td>
                <div class="container">
                    <a href="{% url 'qnaDetail' qna.id %}"><h4>{{ qna.name }}</h4></a>
                </div>
            </td>
        </tbody>
        {% endfor %}
        <tfoot>
            <td colspan="3">
                <div class="writePost">
                    <a href="{% url 'qnaNew' %}">글쓰기</a>
                </div>
            </td>
        </tfoot>
    </table>
{% endblock %}