{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--font list-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>멋쟁이 사자처럼 :: 계명대</title>
    <style>
    </style>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="allNav">
        <header>
            <div class="topHeader">
                <a href="{% url 'index' %}"><img src="{% static 'img/LLlogo.png' %}" style="width: 300px;"
                        id="logo"></a>
                <div></div>
                <ul>
                    {% if request.session.name %}
                    <li id="login"><a href="{% url 'login:logout' %}">로그아웃</a></li>
                    {% else %}
                    <li id="login"><a href="{% url 'login:login' %}">로그인</a></li>
                    <li id="signup"><a href="{% url 'login:signup' %}">회원가입</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <nav>
            <div class="bottomHeader">
                <ul>
                    <li><a href="http://kelmyung.likelion.org/">계명대 멋사 소개</a></li>
                    <li><a href="{% url 'free' %}">자유게시판</a></li>
                    <li><a href="{% url 'qnaList' %}">질문게시판</a></li>
                    <li><a href="{% url 'infoList' %}">정보게시판</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer style="margin-top: 20px;">
        <div class = "lastPageWrap" style="    position: relative;">
            <div class ="lastPage"
                style="margin: 0;
                vertical-align: middle;">
                <img src="{% static 'img/4.png' %}" style=" position: absolute; width: 70%; display: block;" alt="" loading="lazy">
            </div>
            <div class ="lastSentence"
                style="text-align: left;
                position: absolute;
                left: 35vw;
                transform:translate( -50%, 0%);
                font-size: 1.2vmax;
                @media screen and (max-width:700px) {
                    .lastSentence{
                    text-align: left;
                    position: absolute;
                    left: 40vw;
                    transform:translate( -50%, 60%);
                    font-size: 1.2vmax;
                }
            }">
                <p>
                    우)대구광역시 달서구 달구벌대로 1095 계명대학교 성서캠퍼스
                </p>
                <p>
                    INSTAGRAM : kmu_likelion
                </p>
                <p>
                    EMAIL : qq212420@gmail.com
                </p>
                <br>
                <p>
                    COPYRIGHT 2021 KEIMYUNG UNIVERSITY LIKELION
                </p>
                <p>
                    ALL RIGHTS RESERVED
                </p>
            </div>
        </div>    
    </footer>  
</body>
    
</html>